<h2>Produits</h2>
<ul>
  <li *ngFor="let produit of products" [title]="produit.description">
    <a [class.cher]="produit.price>500" [routerLink]="['/products', produit.id]">{{produit.name}}</a><br>
    <p *ngIf="produit.description" [class.cher]="produit.price>500">{{produit.description}}</p>
    <button type="button" (click)="share()">Partager</button>
    <app-product-alert [product]="produit" (notify)="onNotify()"></app-product-alert>
  </li>
</ul>



<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->